{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">User research round 2</h2>
    <p class="govuk-body">Clickable prototypes for SP (Strategic Partnerships) user research sessions.</p>

    <!-- Numbered list of prototype screens for UR round 2 -->
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Overview page</h3>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li><a class="govuk-link" href="/overview">Option 1</a></li>
      <li><a class="govuk-link" href="/overview-gds">Option 2</a></li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Adding a new site</h3>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li><a class="govuk-link" href="/sites">Option 1</a></li>
      <li><a class="govuk-link" href="/sites-gds">Option 2</a></li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Adding a new site home forecast</h3>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li><a class="govuk-link" href="/site-units-forecast">Option 1</a></li>
    </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Site summaries</h3>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li><a class="govuk-link" href="/sites/1001">Option 1</a> - sidebar layout with site related actions</li>
      <li><a class="govuk-link" href="/sites/1001/summary-2">Option 2</a> - full-width layout with grouped task list progress</li>
      <li><a class="govuk-link" href="/sites/1001/summary-3">Option 3</a> - pure GDS version with key information sidebar</li>
    </ul>

  </div>
</div>

{% endblock %}
