{#
  Sites GDS layout - extends main.html but overrides the service navigation
  to show the SP programme navigation with Sites as the current page.
  Links to /sites-gds instead of /sites for the Sites nav item.
  Mirrors the overview-gds.html layout pattern.
#}

{% extends "layouts/main.html" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation({
    classes: "overview-service-nav",
    serviceName: serviceName,
    serviceUrl: "/",
    navigation: [
      {
        text: "Overview",
        href: "/overview-gds"
      },
      {
        text: "Agreed provider profile",
        href: "#"
      },
      {
        text: "Sites",
        href: "/sites-gds",
        current: true if "/sites-gds" in currentPath else false
      },
      {
        text: "Forecasting",
        href: "#"
      },
      {
        text: "Quarterly expenditure",
        href: "#"
      },
      {
        text: "Payments",
        href: "#"
      },
      {
        text: "Sign out",
        href: "#"
      }
    ]
  }) }}
{% endblock %}
